.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.btn {
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color: #97bae8;
  border-radius: 50%;
}
.btnDiv {
  margin: auto;
  text-align: center;
  padding: 1.5%;
  padding-bottom: 0;
}
body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
a {
  font-family: 'Lobster';
  font-size: 2rem;
  color: #061b6b;
}

img {
  width: 80%;
}

footer {
  margin-top: 1.5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
